In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
from pandana.loaders import osm
import pandana
%pylab inline

import numpy as np
import osmnx as ox
import networkx as nx
import peartree
import sys, os
import geopandas as gpd
import rasterio
from pandana.loaders import osm
from shapely.geometry import Point
#import mplleaflet as mpll
from osgeo import ogr
from math import ceil, cos, pi
import geocoder

import GOSTnet as gn
from make_fishnet import make_fishnet
from rasterio.features import rasterize
from rasterio.plot import show

Populating the interactive namespace from numpy and matplotlib
peartree version: 0.6.1
networkx version: 2.2
matplotlib version: 3.0.2
osmnx version: 0.9

## Create data for city access maps

In [33]:
city_data = pd.DataFrame({"city":
        ["Ulaan Baatar",
          "Montevideo",
          "Lima, Peru"],
             "which":
            [0,0,0],
            "file_name":
            ['UB', 'Montevideo', 'Lima']})

In [34]:
city_data.head()

           city  which   file_name
0  Ulaan Baatar      0          UB
1    Montevideo      0  Montevideo
2    Lima, Peru      0        Lima

In [49]:
def get_gdf(row):
    gdf = ox.gdf_from_place(row['city'], which_result = row['which'])
    return(gdf)

In [50]:
city_data['gdf'] = city_data.apply(get_gdf, axis=1)

In [51]:
city_data.head()

,city,which,file_name,gdf
0,Ulaan Baatar,0,UB,bbox_east bbox_north bbox_south bbox_w...
1,Montevideo,0,Montevideo,bbox_east bbox_north bbox_south bbox_wes...
2,"Lima, Peru",0,Lima,bbox_east bbox_north bbox_south bbox_wes...

In [64]:
city_data.loc[0,'gdf']

,bbox_east,bbox_north,bbox_south,bbox_west,geometry,place_name
0,107.578164,48.257157,47.635288,106.356383,"POLYGON ((106.356383 48.257157, 106.376367 48....","Ulaanbaatar, Mongolia"

In [62]:
city_data.to_csv('data/city_access/cities_gdfs.csv',index=False)

In [57]:
def make_shp(row):
    file_name = 'data/city_access/' + city_data.loc[row, 'file_name']
    gdf = gpd.GeoDataFrame(city_data.loc[row,'gdf'])
    gdf.to_file(file_name)

In [60]:
for i in range(city_data.shape[0]):
    make_shp(i)